@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
}

body {
  background: hsl(185, 75%, 39%);
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: url('/images/bg-pattern-top.svg'), url('/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: right 50vw bottom 50vh, left 50vw top 50vh;
}

main {
  background: #fff;
  max-width: 375px;
  border-radius: 10px;
  text-align: center;
}

main img.cabec {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

main img.photo {
  border-radius: 50%;
  border: 10px solid white;
  margin-top: -52px;
}

.profile h1 {
  color: hsl(229, 23%, 23%);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.profile p {
  color: hsl(229, 23%, 23%);
  font-weight: 400;
}

main section .container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}

.container h2{
  color: hsl(229, 23%, 23%);
  font-size: 25px;
}

.container p{
  color: hsl(229, 23%, 23%);
  font-size: 15px;
}